{% extends "base.html" %}

{% block content %}
<h1>Сайт: {{ url.name }}</h1>
<div class="table-responsive">
    <table class="table table-bordered table-hover text-nowrap" data-test="url">
        <tbody>
            <tr>
                <td>ID</td>
                <td>{{ url.id }}</td>
            </tr>
            <tr>
                <td>Имя</td>
                <td>{{ url.name }}</td>
            </tr>
            <tr>
                <td>Дата создания</td>
                <td>{{ url.created_at }}</td>
            </tr>
        </tbody>
    </table>
</div>

<h2 class="mt-5 mb-3">Проверки</h2>

<form method="post" action="{{ url_for('check_urls', id=url.id) }}">
    <input type="submit" class="btn btn-primary" value="Запустить проверку">
</form>

<div>
    <table class="table table-bordered table-hover mt-2" data-test="checks">
        <tbody>
            <tr>
                <th>ID</th>
                <th>Код ответа</th>
                <th>h1</th>
                <th>title</th>
                <th>description</th>
                <th>Дата создания</th>
            </tr>

            {% for value in checks %}
                <tr>
                    <td>{{value.id}}</td>
                    <td>{{value.status_code}}</td>
                    <td>{{value.h1}}</td>
                    <td>{{value.title}}</td>
                    <td>{{value.description}}</td>
                    <td>{{value.created_at}}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}